
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      background-color: aliceblue;
    }
    .butn{
  color: black;
  border: none;
  margin-left: 90%;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
 
  font-size:25px;
  margin: 4px 2px;
  background-color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 1500px;
  height: 40px;
  position: center;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
}
  </style>
</head>
<body>
  <div style="text-align: center;align-items: center;color: white";>
   <h1 style="text-align: center; color: rgb(0, 0, 0); text-decoration: underline;">YOUR PASSWORD IS </h1><br>
    <h1 style="text-align: center; color: rgb(43, 109, 167)";>{{password}}</h1>
  </div>
  <br><br>
  <button class="butn"><a href="http://127.0.0.1:8000/?length=10&special=on">home</a></button>
  
</body>
</html>
